fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
websockets==13.1
torch==2.4.1
torchaudio==2.4.1
speechbrain==1.0.2
git+https://github.com/openai/whisper.git
scikit-learn==1.5.2
scipy==1.14.1
numpy==1.26.4
